@using (Html.BeginForm("Library", "Book", FormMethod.Get))
{
        <h5>語言:</h5>@Html.Raw(ViewData["BookLanguage"])
        <h5>類型:</h5>@Html.Raw(ViewData["BookType"])
        <br />
        @Html.TextBox("bookName", ViewData["Serchvalue"], new { @class = "form-control", placeholder = "書名" })
        <br />
        <input type="submit" class="btn btn-info" value="搜尋" />
}
