@using (Html.BeginForm("Library", "Book", FormMethod.Get))
{
    <h5>語言:</h5>@Html.Raw(ViewData["BookLanguage"])
    <h5>類型:</h5>@Html.Raw(ViewData["BookType"])
    <h5>書名</h5>@Html.TextBox("bookName", ViewData["Serchvalue"])
    <input type="submit" class="btn btn-default" value="搜尋" />
}