@{
    ViewBag.Title = "Index";
}
@model MVC.Models.user

<table>
    <tr>
        <td><h2>會員登入</h2></td>
    </tr>
    @using (Html.BeginForm("Index","User",FormMethod.Post))
    {
        <tr>
            <td>
            <h3>帳號</h3>@Html.TextBoxFor(u=>u.user1)
                @Html.ValidationMessageFor(u=>u.user1)
            </td>
        </tr>
        <tr>
            <td>
                <h3>密碼</h3>@Html.PasswordFor(u => u.password)
                @Html.ValidationMessageFor(u => u.password)
            </td>
        </tr>
        <tr><td><input value="提交" type="submit"/></td></tr>
    }
</table>
@if (ViewBag.visable == "Yes")
{    
    <h3>密碼錯誤!!</h3>
}


