@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Template/LoginMaster.cshtml";
}
@model MyWeb.Model.UserModel
@section Body{
    <table>
        <tr>
            <td><h2>會員登入</h2></td>
        </tr>
        @using (Html.BeginForm("Index", "Book", FormMethod.Post))
        {
            <tr>
                <td>
                    <div class="txt_input">
                        帳號 @Html.TextBoxFor(u => u.user_txt)
                    </div>
                    @Html.ValidationMessageFor(u => u.user_txt)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="txt_input">
                        密碼 @Html.PasswordFor(u => u.password_txt)
                    </div>
                    @Html.ValidationMessageFor(u => u.password_txt)
                </td>
            </tr>
            <tr>
                <td>
                    <input value="提交" type="submit" class="button" />
                </td>
            </tr>
        }
    </table>
}